<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Mission to Mars</title>
  </head>
<body>
  
    <h1>Hello, Earthling!</h1>
    <div class="jumbotron text-center"></div>
      <p>
      Welcome to the Mars data page.  
      </p>
      <a href="http://127.0.0.1:5000/scrape" class="btn btn-primary"> Call the scraper</a>
      <ul>
         <li>First list item</li>
        <li>Second list item</li>
        <li>Third list item</li>
      </ul>
</body>
</html>